Repository isaac-levine/leadform-jls9ob, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-platform/core-team, @lead-platform/backend-team, @lead-platform/frontend-team, @lead-platform/ai-team, @lead-platform/integration-team, @lead-platform/devops-team, @lead-platform/security-team

.github/CODEOWNERS:

* @lead-platform/core-team

# Backend team owns backend codebase
src/backend/ @lead-platform/backend-team

# Frontend team owns frontend codebase
src/web/ @lead-platform/frontend-team

# AI team owns AI components
src/backend/src/lib/ai/ @lead-platform/ai-team

# Integration team owns SMS components
src/backend/src/lib/sms/ @lead-platform/integration-team

# DevOps team owns infrastructure
infrastructure/ @lead-platform/devops-team

# DevOps team owns CI/CD workflows
.github/workflows/ @lead-platform/devops-team

# Security team co-owns sensitive configurations
src/backend/src/config/ @lead-platform/security-team @lead-platform/backend-team

# Security team owns auth components
src/backend/src/lib/auth/ @lead-platform/security-team

# DevOps and Security teams co-own infrastructure code
infrastructure/terraform/ @lead-platform/devops-team @lead-platform/security-team

Add public-samples/leadform-jls9ob/.github/dependabot.yml
  .github/dependabot.yml
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @lead-platform/core-team

Add public-samples/leadform-jls9ob/infrastructure/docker/mongodb/Dockerfile
  infrastructure/docker/mongodb/Dockerfile
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docker/mongodb/init.js
  infrastructure/docker/mongodb/init.js
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docker/redis/Dockerfile
  infrastructure/docker/redis/Dockerfile
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docker/redis/redis.conf
  infrastructure/docker/redis/redis.conf
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docs/architecture.md
  infrastructure/docs/architecture.md
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docs/backup-restore.md
  infrastructure/docs/backup-restore.md
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docs/deployment.md
  infrastructure/docs/deployment.md
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docs/monitoring.md
  infrastructure/docs/monitoring.md
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/docs/security.md
  infrastructure/docs/security.md
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/mongodb/deployment.yaml
  infrastructure/kubernetes/mongodb/deployment.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/mongodb/service.yaml
  infrastructure/kubernetes/mongodb/service.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/redis/deployment.yaml
  infrastructure/kubernetes/redis/deployment.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/kubernetes/redis/service.yaml
  infrastructure/kubernetes/redis/service.yaml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/monitoring/alertmanager/config.yml
  infrastructure/monitoring/alertmanager/config.yml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/monitoring/grafana/dashboards/application-metrics.json
  infrastructure/monitoring/grafana/dashboards/application-metrics.json
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/monitoring/grafana/dashboards/system-metrics.json
  infrastructure/monitoring/grafana/dashboards/system-metrics.json
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/monitoring/prometheus/rules.yml
  infrastructure/monitoring/prometheus/rules.yml
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @lead-platform/devops-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/mongodb.tf
  infrastructure/terraform/mongodb.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/monitoring.tf
  infrastructure/terraform/monitoring.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team
