Repository isaac-levine/leadform-jls9ob, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-platform/core-team, @lead-platform/backend-team, @lead-platform/frontend-team, @lead-platform/ai-team, @lead-platform/integration-team, @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @lead-platform/security-team, @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/config/jwt.config.ts
  src/backend/src/config/jwt.config.ts
Owners: @lead-platform/security-team, @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/config/queue.config.ts
  src/backend/src/config/queue.config.ts
Owners: @lead-platform/security-team, @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/config/sms.config.ts
  src/backend/src/config/sms.config.ts
Owners: @lead-platform/security-team, @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/constants/error.constants.ts
  src/backend/src/constants/error.constants.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/constants/message.constants.ts
  src/backend/src/constants/message.constants.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/constants/regex.constants.ts
  src/backend/src/constants/regex.constants.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/constants/status.constants.ts
  src/backend/src/constants/status.constants.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/migrations/20240101000000_initial_schema.ts
  src/backend/src/db/migrations/20240101000000_initial_schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/Form.ts
  src/backend/src/db/models/Form.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/Lead.ts
  src/backend/src/db/models/Lead.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/Message.ts
  src/backend/src/db/models/Message.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/Organization.ts
  src/backend/src/db/models/Organization.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/Template.ts
  src/backend/src/db/models/Template.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/models/User.ts
  src/backend/src/db/models/User.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/form.schema.ts
  src/backend/src/db/schemas/form.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/lead.schema.ts
  src/backend/src/db/schemas/lead.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/message.schema.ts
  src/backend/src/db/schemas/message.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/organization.schema.ts
  src/backend/src/db/schemas/organization.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/template.schema.ts
  src/backend/src/db/schemas/template.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/db/schemas/user.schema.ts
  src/backend/src/db/schemas/user.schema.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/IForm.ts
  src/backend/src/interfaces/IForm.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/ILead.ts
  src/backend/src/interfaces/ILead.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/IMessage.ts
  src/backend/src/interfaces/IMessage.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/IOrganization.ts
  src/backend/src/interfaces/IOrganization.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/ITemplate.ts
  src/backend/src/interfaces/ITemplate.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/interfaces/IUser.ts
  src/backend/src/interfaces/IUser.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/ai/conversation.manager.ts
  src/backend/src/lib/ai/conversation.manager.ts
Owners: @lead-platform/ai-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/ai/prompt.generator.ts
  src/backend/src/lib/ai/prompt.generator.ts
Owners: @lead-platform/ai-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/ai/response.processor.ts
  src/backend/src/lib/ai/response.processor.ts
Owners: @lead-platform/ai-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/auth/jwt.service.ts
  src/backend/src/lib/auth/jwt.service.ts
Owners: @lead-platform/security-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/auth/password.service.ts
  src/backend/src/lib/auth/password.service.ts
Owners: @lead-platform/security-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/auth/role.service.ts
  src/backend/src/lib/auth/role.service.ts
Owners: @lead-platform/security-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/queue/message.queue.ts
  src/backend/src/lib/queue/message.queue.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/queue/retry.queue.ts
  src/backend/src/lib/queue/retry.queue.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/sms/provider.abstract.ts
  src/backend/src/lib/sms/provider.abstract.ts
Owners: @lead-platform/integration-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/sms/provider.factory.ts
  src/backend/src/lib/sms/provider.factory.ts
Owners: @lead-platform/integration-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/sms/sms.service.ts
  src/backend/src/lib/sms/sms.service.ts
Owners: @lead-platform/integration-team

Add public-samples/leadform-jls9ob/src/backend/src/lib/sms/providers/twilio.provider.ts
  src/backend/src/lib/sms/providers/twilio.provider.ts
Owners: @lead-platform/integration-team

Add public-samples/leadform-jls9ob/src/backend/src/services/form.service.ts
  src/backend/src/services/form.service.ts
Owners: @lead-platform/backend-team

.github/CODEOWNERS:

* @lead-platform/core-team

# Backend team owns backend codebase
src/backend/ @lead-platform/backend-team

# Frontend team owns frontend codebase
src/web/ @lead-platform/frontend-team

# AI team owns AI components
src/backend/src/lib/ai/ @lead-platform/ai-team

# Integration team owns SMS components
src/backend/src/lib/sms/ @lead-platform/integration-team

# DevOps team owns infrastructure
infrastructure/ @lead-platform/devops-team

# DevOps team owns CI/CD workflows
.github/workflows/ @lead-platform/devops-team

# Security team co-owns sensitive configurations
src/backend/src/config/ @lead-platform/security-team @lead-platform/backend-team

# Security team owns auth components
src/backend/src/lib/auth/ @lead-platform/security-team

# DevOps and Security teams co-own infrastructure code
infrastructure/terraform/ @lead-platform/devops-team @lead-platform/security-team
