Repository isaac-levine/leadform-jls9ob, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lead-platform/core-team, @lead-platform/backend-team, @lead-platform/frontend-team, @lead-platform/ai-team, @lead-platform/integration-team, @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/redis.tf
  infrastructure/terraform/redis.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/secrets.tf
  infrastructure/terraform/secrets.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/vercel.tf
  infrastructure/terraform/vercel.tf
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/environments/production.tfvars
  infrastructure/terraform/environments/production.tfvars
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/infrastructure/terraform/environments/staging.tfvars
  infrastructure/terraform/environments/staging.tfvars
Owners: @lead-platform/devops-team, @lead-platform/security-team

Add public-samples/leadform-jls9ob/src/backend/.env.example
  src/backend/.env.example
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/README.md
  src/backend/README.md
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/package.json
  src/backend/package.json
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/FormController.ts
  src/backend/src/api/controllers/FormController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/LeadController.ts
  src/backend/src/api/controllers/LeadController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/MessageController.ts
  src/backend/src/api/controllers/MessageController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/OrganizationController.ts
  src/backend/src/api/controllers/OrganizationController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/UserController.ts
  src/backend/src/api/controllers/UserController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/controllers/WebhookController.ts
  src/backend/src/api/controllers/WebhookController.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/form.routes.ts
  src/backend/src/api/routes/form.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/lead.routes.ts
  src/backend/src/api/routes/lead.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/message.routes.ts
  src/backend/src/api/routes/message.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/organization.routes.ts
  src/backend/src/api/routes/organization.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/user.routes.ts
  src/backend/src/api/routes/user.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/routes/webhook.routes.ts
  src/backend/src/api/routes/webhook.routes.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/validators/form.validator.ts
  src/backend/src/api/validators/form.validator.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/validators/lead.validator.ts
  src/backend/src/api/validators/lead.validator.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/validators/message.validator.ts
  src/backend/src/api/validators/message.validator.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/validators/organization.validator.ts
  src/backend/src/api/validators/organization.validator.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/api/validators/user.validator.ts
  src/backend/src/api/validators/user.validator.ts
Owners: @lead-platform/backend-team

Add public-samples/leadform-jls9ob/src/backend/src/config/ai.config.ts
  src/backend/src/config/ai.config.ts
Owners: @lead-platform/security-team, @lead-platform/backend-team

.github/CODEOWNERS:

* @lead-platform/core-team

# Backend team owns backend codebase
src/backend/ @lead-platform/backend-team

# Frontend team owns frontend codebase
src/web/ @lead-platform/frontend-team

# AI team owns AI components
src/backend/src/lib/ai/ @lead-platform/ai-team

# Integration team owns SMS components
src/backend/src/lib/sms/ @lead-platform/integration-team

# DevOps team owns infrastructure
infrastructure/ @lead-platform/devops-team

# DevOps team owns CI/CD workflows
.github/workflows/ @lead-platform/devops-team

# Security team co-owns sensitive configurations
src/backend/src/config/ @lead-platform/security-team @lead-platform/backend-team

# Security team owns auth components
src/backend/src/lib/auth/ @lead-platform/security-team

# DevOps and Security teams co-own infrastructure code
infrastructure/terraform/ @lead-platform/devops-team @lead-platform/security-team
